type project
id FSharpLint.Core
licenseUrl https://github.com/fsprojects/FSharpLint/blob/master/LICENSE
projecturl http://fsprojects.github.com/FSharpLint
authors Matthew Mcveigh
summary
    API to programmatically run FSharpLint.
tags
    F#, fsharp, lint, FSharpLint, fslint, api