source https://api.nuget.org/v3/index.json
framework: netstandard2.0, netcoreapp2.1
storage: none

nuget Argu
nuget FParsec
nuget FSharp.Compiler.Service ~> 34.1
nuget Dotnet.ProjInfo ~> 0.31.0
nuget FSharp.Core ~> 4.6.2
nuget nunit
nuget NUnit3TestAdapter
nuget Microsoft.NET.Test.Sdk
nuget Newtonsoft.Json

group Tools
source https://api.nuget.org/v3/index.json

nuget fake-cli
nuget FSharp.Formatting
nuget FSharp.Formatting.CommandTool
