framework: net40, net45
source https://nuget.org/api/v2

nuget FParsec >= 1.0.2
nuget NUnit >= 3.4.1
nuget FSharp.Compiler.Service >= 9.0.1
nuget FSharp.Compiler.Service.ProjectCracker >= 9.0.1
nuget FAKE.Lib
nuget FSharp.Core ~> 4.0.0.1

group Tools
source https://nuget.org/api/v2

nuget FAKE
nuget NUnit.Runners
nuget FSharpLint.Fake
nuget FSharp.Formatting