framework: net45
source https://nuget.org/api/v2

nuget FParsec >= 1.0.3
nuget NUnit >= 3.8.1
nuget FSharp.Compiler.Service >= 14.0.2
nuget FSharp.Compiler.Service.ProjectCracker >= 14.0.2
nuget FAKE.Lib
nuget FSharp.Core >= 4.1.18
nuget System.Collections.Immutable < 1.4

group Tools
source https://nuget.org/api/v2

nuget FAKE
nuget NUnit.Runners
nuget FSharpLint.Fake
nuget FSharp.Formatting